<div class="row">
    <div class="col">
        <label for="prenom">Prenom</label><br>
        <input type="text" name="prenom" id="prenom"><br><br>
    </div>
    <div class="col">
        <label for="nom">Nom</label><br>
        <input type="text" name="nom" id="nom"><br><br>
    </div>
</div>
<div class="row">
    <div class="col">
        <label for="email">Email</label><br>
        <input type="text" name="email" id="email"><br><br>
    </div>
    <div class="col">
        <label for="password">Mot de passe</label><br>
        <input type="text" name="password" id="password"><br><br>
    </div>
</div>

<a href="/">retour</a><br><br>
<input type="submit" name="ajouter" value="Ajouter">